/.vs
/.git
/.idea
/cmake-build-debug
/cmake-build-release
/bin
/build
*.vcxproj
/vendor/assimp
/CMakeFiles
/ENGINE/CMakeFiles
/ENGINE/ENGINE.dir
/ENGINE/ALL_BUILD.*
/ENGINE/*.cmake
/ENGINE/*.vcxproj
/ENGINE/*.filters
/ENGINE/*.user
/ENGINE/*.sln
/ENGINE/.vs

/vendor/glad/CMakeFiles
/vendor/glad/glad.dir
/vendor/glad/ALL_BUILD.*
/vendor/glad/*.cmake
/vendor/glad/*.vcxproj
/vendor/glad/*.filters
/vendor/glad/*.user
/vendor/glad/*.sln
/out
/Sandbox/CMakeFiles
/Sandbox/Sandbox.dir
/Cuboid-Editor/CMakeFiles
/Cuboid-Editor/Cuboid-Editor.dir
/Cuboid-Editor/assimp-vc142-mtd.dll
/Cuboid-Editor/.vs

/vendor/spdlog/CMakeFiles
/vendor/spdlog/ENGINE.dir
/vendor/luac/CMakeFiles
/vendor/luac/lua
/vendor/luac/luac.dir
/x64
/vendor/yaml-cpp/CMakeF
/vendor/yaml-cpp/yaml-cpp.dir
/vendor/yaml-cpp/docs
/vendor/yaml-cpp/test
/vendor/yaml-cpp/Testing
/lib
/CMakeFiles
CMakeFiles
ENGINE.dir
ALL_BUILD.*
*.cmake
*.vcxproj
*.filters
*.user
/ENGINE/*.sln

