/.vs
/.git
/bin
/build
*.vcxproj
/assimp
/CMakeFiles
/ENGINE/CMakeFiles
/ENGINE/ENGINE.dir
/glad/CMakeFiles
/glad/glad.dir
/out
/Sandbox/CMakeFiles
/Sandbox/Sandbox.dir
/Cuboid-Editor/CMakeFiles
/Cuboid-Editor/Cuboid-Editor.dir
/spdlog/CMakeFiles
/spdlog/ENGINE.dir
/luac/CMakeFiles
/luac/lua
/luac/luac.dir
/x64
/yaml-cpp/CMakeF
/yaml-cpp/yaml-cpp.dir
/yaml-cpp/docs
/yaml-cpp/test
/yaml-cpp/Testing
